.bus-icon{
    font-size: 80px;
    margin-top: 40px;
}

h1{
    margin-top: 0;
}

.custom-image {
    width: 250px;
    height: 250px;
}

.custom-container{
    display: flex;
    align-items: center;
    justify-content: center;
}